<ion-view view-title="Consulta">
  <ion-content padding="true">
    <form ng-submit="sendContactForm()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="Dinos tu nombre">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Apellido</span>
          <input type="text" placeholder="Y tu apellido">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Correo electrónico</span>
          <input type="text" placeholder="Escribe aquí tu email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Comentario</span>
          <textarea type="text" placeholder="Escribe aquí tu consulta"></textarea>
        </label>
        <button type="sumbit" class="button button-block button-positive">
           Enviar
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
