<ion-view view-title="Market Help">
  <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-funnel" ng-click="openModal()"></button>
      <button class="button button-icon ion-ios-search-strong" ng-click="doSomething()"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item item-thumbnail-left"
                ng-repeat="product in products" 
                href="#/app/products/{{product.$id}}">
        <img ng-src="{{product.img}}">
        <h2>{{product.name}}</h2>
        <p>{{product.origin}}</p>
        <p>{{product.category}}</p>        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
