<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Consulta</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="Juan">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Apellido</span>
          <input type="text" placeholder="Fernandez">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Correo electrónico</span>
          <input type="text" placeholder="juan@fernandez.com">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Comentario</span>
          <textarea type="text" placeholder="Escriba aquí su consulta"></textarea>
        </label>
        <button class="button button-block button-positive">
           Enviar
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
