<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button button-icon ion-android-arrow-back" ng-click="cancelFilter()"></button>
        </div>
        <h1 class="title">Filtro</h1>
        <div class="buttons">
            <button class="button button-icon ion-checkmark" ng-click="applyFilter()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <span class="input-label">Categoría</span>
                <select ng-options="category as category.name for category in categories" 
                        ng-model="category" ng-change="categoryChanged(category)"></select>
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Región</span>
                <select ng-options="region as region.name for region in regions" 
                        ng-model="region" ng-change="regionChanged(region)"></select>
            </label>
        </div>
    </ion-content>
</ion-modal-view>