<ion-view view-title="Preguntas Frecuentes">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        ¿Dónde están localizadas las tiendas?
      </div>
      <div class="item item-text-wrap">
        En esta primera fase de la App, las tiendas disponibles estarán en Barcelona, en la siguientes fases se irá ampliando a más provincias y países.
      </div>
      <div class="item item-divider">
        ¿Cómo hago para subir mis productos?
      </div>
      <div class="item item-text-wrap">
        Para que podamos subir tus productos tienes que ponerte en contacto con nosotros desde menú > enviar consulta y nos pondremos en contacto contigo. En la siguiente fase habrá la posibilidad de crear un perfil con posibilidad de subir productos a la App.
      </div>
      <div class="item item-divider">
        ¿Cuál es el precio por subirlos?
      </div>
      <div class="item item-text-wrap">
        El servicio por subir los productos en la primera fase será completamente gratuito. 
      </div>
   </div>
  </ion-content>
</ion-view>
