<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Presentación de la App</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
            <div class="box blue"><h1>BLUE</h1></div>
        </ion-slide>
        <ion-slide>
            <div class="box yellow"><h1>YELLOW</h1></div>
        </ion-slide>
        <ion-slide>
            <div class="box pink"><h1>PINK</h1></div>
        </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-modal-view>